*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
iosApp.xcworkspace/
iosApp.xcodeproj/project.xcworkspace/
iosApp.xcodeproj/xcuserdata/
Pods/
Podfile.lock